* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#effff2 0%, #95dda1 33.33%, #3fc756 66.67%, #0e741f 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ani {
    to{background-position-x: 1000000px;}
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.huerot {
    background-image:linear-gradient(
        to left,
        #ee82ee,
        #4b0082,
        #0000ff,
        #008000,
        #ffff00,
        #ffa500,
        #ff0000,
        #ee82ee
    );
    -webkit-text-stroke: 1px #ffffff;
    width: fit-content;
    background-clip: text;
    font-size: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ani 10000000ms linear infinite;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #ffffff76;
    box-shadow: 4px 4px 20px 0px #01080e26;
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}


.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__botao {
    border-radius: 16px;
    background: #bc0c0c;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #bc0c0c;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.erro {
    font-size: 32px;
    font-weight: 400;
    color: #ff0000
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: #808080;
}

@media screen and (max-width: 1250px) {

    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 16px;
    }


    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-pessoa {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem
    }
}